.tower-group-1 {
  display: flex;
  justify-content: space-around;
}

.tower-1-1 {
  order: 1;
}

.tower-1-2 {
  order: 3;
}

.tower-1-3 {
  order: 2;
}

.tower-group-2 {
  display: flex;
  justify-content: space-around;
}

.tower-2-1 {
  order: 2;
}

.tower-2-2 {
  order: 1;
}

.tower-2-3 {
  order: 3;
}
