.tower-group-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.tower-group-2 {
  display: flex;
  justify-content: center;
}

.tower-group-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
