div {
  animation-duration: 4s;
  animation-name: example;
  animation-timing-function: ease-in-out;
  background-color: red;
  height: 100px;
  position: relative;
  width: 100px;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}
