#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: block;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #fff;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: block;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: block;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

@media print {
  #header,
  #navigation,
  #footer {
    display: none;
  }

  #content {
    width: 100%;
  }

  #aside {
    float: none;
  }
}

@media screen and (max-width: 450px) {
  #aside {
    display: none;
  }

  body {
    padding: 0;
  }

  img , #content {
    max-width: 100%;
  }

  #navigation {
    margin-top: 80px;
  }

  #navigation ul li {
    display: block
  }

  #navigation ul li a {
    border: none;
    float: none;
  }

  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
  }
}
